body{
	padding:0px;
	margin:0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*background:#262937;*/
	background: -webkit-linear-gradient(bottom left, rgba(38,41,55,1) 0%, rgba(71,76,97,1) 100%) fixed;
	overflow:hidden;
}
/*
 *  scrolls
 */

::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);*/
	/*background-color: rgba(0,0,0,0);*/
	/*border: 2px solid rgba(0,0,0,0.4);*/

}

::-webkit-scrollbar
{
	width: 5px;
	/*background-color: rgba(0,0,0,0);*/
}

::-webkit-scrollbar-thumb
{
	background-color: rgba(255,255,255,0.05);
	border-radius: 20px;
	/*border: 2px solid #FFF;*/
}


/*CHECKBOX STYLE*/
input[type="checkbox"]{
	-webkit-appearance: none;
    border: white 2px solid;
    border-radius: 11px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background:rgba(255,255,255,0.2);
    margin-top: 0px;
    margin-right: 10px;
    transition:all 100ms ease-out;
}

input[type="checkbox"]:checked{
	background:#00FF99;
}
/**/

.ui-tooltip {
	position:absolute;
	padding: 3px 10px;
	color: black;
	background-color: rgba(255,255,0,0.75);
	font: bold 12px "Helvetica Neue", Sans-Serif;
}


*:focus {outline:0;}

h2{
	font-size:20px;
	letter-spacing: 2px;
	color: #9FA4BC;
	font-weight: 100;
}

.wapper{
	position:absolute;
	width:100%;
	height:100%;
	min-width: 1280px;
	/*top:1%;*/
}

.btn-connexions{
	transform: rotate(-90deg);
    position: fixed;
    left: -49.3%;
    width: 100%;
    top: 50%;
	z-index: 2000;
	color: white;
    -webkit-appearance: none;
    border: 0px;
    background: #3D4158;
    cursor: pointer;
    /*border: 2px solid #FFF;*/
    border-radius: 3px;
    padding: 5px;
    display:none;
}





.ui-helper-hidden-accessible{
	background: black;
	color:yellow;
	position: fixed;
    bottom: 0%;
    width: 100%;
    opacity: 0.8;
    padding:1%;
}

.motors{
	float:left;
	/*background:black;*/
	padding: 1% 0% 0% 2%;
	width:42%;
	margin-left: 0%;
	height:100%;
	overflow:auto;
}

.animations{
	float:left;
	/*background:grey;*/
	padding:1%;
	width:48.99%;
	height:100%;
	max-height:100%;
	overflow:auto;
}





button.gear{
	display:inline-block;
	color:white;
	-webkit-appearance: none;
	border:0px;
	background:none;
	opacity: 0.6;
	width:32px;
	height:32px;
	vertical-align: middle;
	cursor:pointer;
	/*overflow:auto;*/
}

button.gear img{
	width:100%;
	height:auto;
}

button.gear:hover{
	opacity:1;
}


/*CONNEXION*/

.connexions{
	/*position : absolute;*/
	float:left;
	background: #232532;
	background: -webkit-linear-gradient(-45deg, rgba(35,37,50,1) 0%,rgba(35,37,50,1) 14%,rgba(35,37,50,0.65) 100%);
	width:4%;
	height:100%;
	z-index:1000; 
	overflow: scroll-y;
	/*display:none;*/
	/*padding-left: 4%*/
}

.connexions h2{
    transform: rotate(-90deg) translate(0px, -125%);
    position: absolute;
    bottom: 5%;
    z-index: -1;
}

.connexions .plug{
	color:white;
	/*border:dashed white 2px;*/
	/*background:rgba(255, 255, 255, 0.1);*/
    display: block;
    height:80px;
    /*margin: 0% 0 5% 1%;*/
    border-top:1px solid #2F3242;

}

.connexions .plug .content{
	display:none;
	background:rgba(47, 49, 67, 0.95);
	position: absolute;
    left: 4%;
    border:1px solid #FFF;
    border-radius: 0px 10px 10px 0px;
    border-left:0px;
    padding: 1%;
    margin-top: -1px;
    padding-top: 0%;
    width: 15%;
    max-height:300px;
    overflow:auto;
    box-shadow: 10px 0px 15px rgba(0,0,0,0.2);
    z-index: 10;
}
.connexions .plug:hover{
	border-top:1px solid #FFF;
	background:rgba(52, 55, 75, 0.70);
}
.connexions .plug:hover .content{
	display:block;
}


.connexions p{
	font-size: 8pt;
    text-align: center;
    margin: 0;
    height: 0px;
    transform: rotate(-90deg) translate(-40px, -20px);
}


.connexions textarea{
	border-radius: 5px;
	color:white;
	border: 1px solid white;
	background:rgba(255,255,255,0.2);
	padding: 5%;
    width: 88%;
}



select{
	color:white;
	-webkit-appearance: none;
	display: block;
	width:100%;
	height:35px;
	border-radius: 0px;
	background:transparent;
	border:0px;
	border-bottom:2px solid white;
	background: url(../assets/arrow-select.png) no-repeat right;
}

.connexions button{
	margin-top:10px;
	-webkit-appearance: none;
	background:none;
	border:none;
	display:block;
	height:35px;
	width:100%;
	text-transform: uppercase;
	color:white;
	border-radius: 5px;
	cursor: pointer;
}


button.connected {
	content:"ON";
	background:#00FF99;
	border:none;
}

button.error{
	content:"ERROR";
	background:#FF7F52;
	border:none;
}

button.disconnected {
	content:"OFF";
	/*background:#404040;*/
	border:2px solid white;
}
button:disabled {
	content:"WAIT";
	/*background:#404040;*/
	border:2px solid white;
}



/*MOTORS*/

.motors h2{
	/*width:49%;*/
	display:inline-block;
}
.motors-btn-group{
	width:85%;
	display:inline-block;
	text-align: right;
}

button.advanced{
	color:white;
	-webkit-appearance: none;
	border:0px;
	background:none;
	opacity: 0.6;
	width:35px;
	height:35px;
	vertical-align: middle;
	cursor:pointer;
}

button.advanced img{
	width:100%;
	height:auto;
}

button.advanced:hover{
	opacity:1;
}

button.tool{
	color:white;
	-webkit-appearance: none;
	border:0px;
	background:none;
	opacity: 0.6;
	width:35px;
	height:35px;
	align:right;
	cursor:pointer;
}

button.tool img{
	width:100%;
	height:auto;
}

button.tool:hover{
	opacity:1;
}



.valid{
	border:2px solid #00FF99;
	border-radius:3px;
	color:#00FF99;
	padding:5%;
	width:25px;
	height:15px;

}



button.start-rec{
	margin-left: 47%;
	-webkit-appearance: none;
	height:35px;
	vertical-align: middle;
	text-transform: uppercase;
	color:#FF1862;
	border-radius: 5px;
	cursor: pointer;
	border:2px solid rgba(255, 24, 98, 0);
	background:transparent;
	transition:all 300ms ease-out;
	-webkit-animation: blinker infinite cubic-bezier(1.0,0,0,1.0) 0s; 
}

.start-rec:hover{
	border:2px solid rgba(255, 24, 98, 0.2);
}


button.start-rec:after{
	content:"";
	width:12px;
	height:12px;
	background:#FF1862;
	border-radius:20px;
	display:inline-block;
	margin-left:15px;
	margin-right:5px;
	vertical-align: text-bottom;

}

@-webkit-keyframes blinker {  
  from { opacity: 1.0; }
  to { opacity: 0.4; }
}

.single-motor{
	color:white;
	/*border-bottom:dashed white 2px;*/
	/*border-radius: 25px;*/
	padding:3% 0 2% 3%;
	margin:1% 0 1% -3%;
	clear: both;
	width: 99%;
    float: inherit;
    background:rgba(255, 255, 255, 0.2);
	border-radius: 10px;
}

.single-motor:last-child{
	margin-bottom: 10%;
}


.single-motor:nth-child(2n+1){
	background:rgba(255,255,255,0.1);
}


.single-motor .left-col{
	float:left;
	width:28.6%;
}

.identity{
	font-size:32pt;
    margin-left: 2%;
	font-weight: 100;
}

.identity .set-value{
	display:inline-block;
}

.ico-thermo{
	width:16px;
	float:right;
	margin-right:0%;
	margin-top:6%;
}


.thermo{
	margin-bottom: 10px;
	color:#99FF00;
	font-size: 12px;
	float:right;
	margin-top:6%;
}


input.power, input.rec, input.motor-none, input.motor-angle, input.motor-speed, input.osc-btn, input.midi-btn, input.CM9-btn{
	-webkit-appearance: none;
	border:none;
	width:35px;
	height:35px;
	display:inline-block;
	border-radius:40px;
	margin-right:4px;
	font-weight: 700;
	color:white;
	cursor:pointer;
	-webkit-transition: 300ms ease-out;
  	transition: 300ms ease-out;
}



input.stopAll{
	transform: scale(0.8);
	-webkit-appearance: none;
	border:none;
	width:25px;
	height:25px;
	display:inline-block;
	border-radius:40px;
	/*border:2px #FFF solid;*/
	margin-right:1px;
	margin-top:5px;
	font-size: 8px;
	font-weight: 700;
	color:white;
	cursor:pointer;
	-webkit-transition: 300ms ease-out;
  	transition: 300ms ease-out;
}

input.stopAll:before{
	content:"OFF";
	display: inline-block;
	padding: 7px 7px 0px 5px;
	text-align: left;
}

input:checked.stopAll{
	background:#00FF99;
	/*border:2px #00FF99 solid;*/
}

input:checked.stopAll:before{
	content:"ON";
	display: block;
	padding: 7px 7px 0px 6px;
	text-align: center;
}

.plug input.stopAll{
	transform:rotate(90deg) scale(0.8);
}

/*
input.power{
	background:#00FF99;
	border:#00FF99 2px solid;
}
input.power:before{
	content:"ON";
	display: block;
    padding: 9px 7px 0px 6px;
    text-align: left;
}

input:checked.power{
	background:transparent;
	border:white 2px solid;
}

input:checked.power:before{
	content:"OFF";
    padding: 9px 7px 0px 4px;
	color:white;
}
*/


input.power, input.osc-btn, input.midi-btn, input.CM9-btn{
	border:white 2px solid;
	background:transparent;
	color:white;
}

input.power:before, input.osc-btn:before, input.midi-btn:before, input.CM9-btn:before{
	content:"OFF";
	display: inline-block;
	padding: 9px 7px 0px 6px;
	text-align: left;
}

input.osc-btn:before{
	content:"OSC";
	text-align: left;
	padding: 9px 7px 0px 4px;

}

input.CM9-btn:before{
	content:"CM9";
	text-align: left;
	padding: 9px 7px 0px 4px;

}

input.midi-btn:before{
	content:"midi";
	text-align: left;
	padding: 9px 7px 0px 4px;
}





input:checked.power, input:checked.osc-btn, input:checked.midi-btn, input:checked.CM9-btn{
	background:#00FF99;
	border:2px #00FF99 solid;
}

input:checked.power:before{
	content:"ON";
	display: block;
	padding: 9px 7px 0px 4px;
	text-align: center;
}



input.rec{
	border:white 2px solid;
	background:transparent;
	
}

input.rec:before{
	content:"REC";
	display: block;
    padding: 9px 0px 0px 0px;
    text-align: center;
}

input:checked.rec{
	background:#FF1862;
	border:2px #FF1862 solid;
}

input:checked.rec:before{
	content:"REC";
	display: block;
    padding: 9px 0px 0px 0px;
    text-align: center;
    /*color:black;*/
}


.single-motor .circle{
	float:left;
	width:25%;
	margin-left:7%;
}


/*SVG*/

.circle .rotAngle{
	width:75%;
	max-width: 90px;
	height:80px;
	overflow:visible;
	/*display:none;*/
}

.circle .rotSpeed{
	/*display:none;*/
	width:75%;
	max-width: 90px;
	height:80px;
	overflow:visible;
}

/*
.circle svg circle{
	fill:none!important;
	stroke:none!important;

}
*/

.circle svg path{
	fill:none;
	stroke:white;
	stroke-width:2px;
}

.circle svg line{
	stroke:rgb(255, 255, 255)!important;
}

.circle svg line:last-child{
	stroke:rgb(0, 0, 0)!important;
}

.circle text{
	fill:white!important;
	-webkit-transform: translate(75px, -20px);
  	-ms-transform: translate(75px, -20px);
  	transform: translate(75px, -20px);
  	font-size: 35px;
    font-weight: 100;
    text-anchor: inherit;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
}


.single-motor .properties{
	/*float: right;*/
    margin-right: 2%;
    /*margin-top: 2%;*/
}

.normal{
	float:left;
	width:100%;
	display:block;
}              


/*settings*/

.settings{
	float:left;
	overflow:auto;
	padding:1%;
	padding-left:3%;
	height:90%;
	display:none;
}



.settings .single-motor:last-child{
	margin-bottom:15%;
}

.settings .left-col{
	width:63%;
}

.settings .identity{
	float:left;
	font-size: 15pt;
	width:100%;
}

.settings input.name{
	width:40%;
	margin-top:3px;
	float:left;
}

.settings .advanced{
	width:100%;
	/*float:left;*/
}


.settings ul{
	list-style: none;
	padding: 0%;
	margin-top: 0%;
}

.settings li{
	display: inline-block;
    width: 24%;
    padding-bottom: 0%;
    padding-top: 2%;
    height: 35px;
	
}

/*.settings li:nth-child(2n+1){
	border-right: solid white 1px;
	padding-left: 3%;

}*/

.settings li:nth-child(n){
	color:#33B6FF;
}

.settings li:nth-child(n+3){
	color:#FF9B18;
}


.settings li label{
	font-size: 10pt;
    text-align: left;
    margin-left: 2%;
    margin-bottom: 3%;
    font-weight: 300;
    letter-spacing: 1px;
    width: 100%;
    display: block;

}

.settings li .set-value{
	/*float:left;*/
	margin-top:1%;
	width:70%;
}


.settings .OSC-setting{
	display: inline-block;
    border: none;
    background: rgba(255,255,255,0.3);
    border-radius: 25px;
    padding-left: 10px;
    font-size: 13px;
    height: 35px;
    color: white;
    width: 42%;
    margin-right:6%;
    margin-top: 4%;
    margin-bottom: 2%;
}



.settings .midi-setting{
	display: inline-block;
	width: 37%;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;

}


/*switch-clock*/
.switch-clock {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 34px;
}

.switch-clock input {display:none;}

.switch-clock  .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
  /*border:2px solid white;*/
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.switch-clock .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #9CFF51;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.switch-clock .slider:after{
	margin-top:-5px;
	content:"";
	background:url('../assets/clockwise.png');
	background-repeat: no-repeat;
	background-size:auto 90%;
	height:85%;
	background-position: center center;
	position: absolute;
    width: 100%;
    text-align: center;
    top: 7px;
    color:#9CFF51;
    -webkit-transition: 300ms ease-out;
  	transition: 300ms ease-out;
}

.switch-clock input:checked + .slider:after {
  color: #E671FF;
}

.switch-clock input:focus + .slider {

}

.switch-clock input:checked + .slider:before {
  -webkit-transform: translateX(125px);
  -ms-transform: translateX(125px);
  transform: translateX(125px);
  background-color: #E671FF;

}

.switch-clock input:checked + .slider:after{
	margin-top:-5px;
	content:"";
	background:url('../assets/clockwise-reverse.png');
	background-repeat: no-repeat;
	background-size:auto 90%;
	background-position: center center;
	height: 85%;
}




/* Rounded sliders */
.switch-clock .slider.round {
  border-radius: 34px;
}

.switch-clock .slider.round:before {
  border-radius: 50%;
}


/*switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 34px;
  /*top: 25px;  didier*/
  /*left: 25px; didier*/
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
  /*border:2px solid white;*/
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #33B6FF;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.slider:after{
	content:"Joint";
	position: absolute;
    width: 100%;
    text-align: center;
    top: 7px;
    color:#33B6FF;
    -webkit-transition: 300ms ease-out;
  	transition: 300ms ease-out;
}

input:checked + .slider:after {
  color: #FF9B18;
}

input:focus + .slider {

}

input:checked + .slider:before {
  -webkit-transform: translateX(125px);
  -ms-transform: translateX(125px);
  transform: translateX(125px);
  background-color: #FF9B18;

}

input:checked + .slider:after{
	content:"Wheel";
}




/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/*left side*/

.left-side h2{
	display:inline-block;
	cursor:pointer;
	margin-right:1%;
	margin-left: 1%;
	margin-top: 2.5%;
}

#sens{
	opacity:0.3;
}

/*Animation*/
.animations{
	position:relative;
	left:0;
	top:0;
	margin-top: -0.9%;
}

.animations ul{
	padding:0;
	margin:0;
	list-style: none;
}


button.load{
	float:right;
}

.single-anim{
	cursor:move;
	width:97%;
	margin-left:0%;
	background:rgba(0,0,0,0.7);
	padding:2%;
	margin-bottom:1%;
	background:rgba(255, 255, 255, 0.1);
	border-radius: 10px;
}

.single-anim:nth-child(2n+1){
	background:rgba(0,0,0,0.3);
}

.single-anim:last-child{
	margin-bottom:100px;
}

button.close{
	-webkit-appearance: none;
	border:0px;
	background:none;
	opacity: 0.6;
	width:20px;
	height:20px;
	vertical-align: middle;
	cursor:pointer;
	float:right;
}

button.close img{
	width:100%;
	height:auto;
}

button.close:hover{
	opacity:1;
}


.name {
	border:none;
	border-bottom:1px dashed rgba(255,255,255,0);
	background:none;
	padding-bottom:5px;
	margin-bottom:10px;
	font-size: 16px;
	color:white;
	display:block;
}

.set-value{
	display: inline-block;
    border: none;
    /* border: 2px solid rgba(255,255,255,1); */
    background: rgba(255,255,255,0.3);
    border-radius: 25px;
    padding-left: 10px;
    font-size: 13px;
    height: 35px;
    color: white;
    width: 30%;
    margin-right: 1%;
}

.shorcut {
	border:2px solid white;
	background:none;
	vertical-align: middle;
	text-align: center;
	border-radius:5px;
	padding:5px;
	font-size: 16px;
	color:white;
	width:3%;
	display:inline-block;
}

.number-for-motor{
	border: 2px solid black;
    background: none;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    padding: 7px;
    font-size: 16px;
    color: black;
    width: 20%;
    display: block;
}

/*Didier*/
.num_rotary{
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
	width: 28%;
    display: block;
    border: none;
    background: rgba(255,255,255,0.3);
    border-radius: 25px;
    padding-left: 10px;
    margin-top: 2%;
    height: 35px;
    color: white;
}



input.motor-none:before{
	content:"-";
	display: block;
	padding: 9px 2px 0px 0px;
	text-align: center;
}
input.motor-none{
	background:transparent;
	border:white 2px solid;
}
/*! no check !*/


input:checked.motor-angle{
	background:#33B6FF;
	border:#33B6FF 2px solid;
}

input.motor-angle:before{
	content:"J";
	display: block;
    padding: 9px 2px 0px 0px;
    text-align: center;
}

input.motor-angle{
	background:transparent;
	border:white 2px solid;
}

input:checked.motor-speed{
	background:#FF9B18;
	border:#FF9B18 2px solid;
}

input.motor-speed:before{
	content:"W";
	display: block;
    padding: 9px 2px 0px 0px;
    text-align: center;
}

input.motor-speed{
	background:transparent;
	border:white 2px solid;
}

meter{
	/*-webkit-appearance:none;*/
	height:20px;
	vertical-align: middle;
	width:25%;
}

meter::-webkit-meter-bar {
  background: none; /* Requi#FF1862 to get rid of the default background property */
  background-color: transparent;

  border:2px solid white;
  border-radius:10px;
}

meter::-webkit-meter-optimum-value{
	background:rgba(255, 255, 255, 0.3);
	border-radius:10px;
}

meter.active::-webkit-meter-optimum-value{
	background:rgba(0,255,153,1);
	border-radius:10px;
}

meter.active::-webkit-meter-bar{
	border:2px solid rgba(0,255,153,0.5);
	border-radius:10px;
}


.controls{
	display:inline-block;
}

.load, .controls button{
	-webkit-appearance: none;
	border:0px;
	background:none;
	opacity: 0.6;
	width:35px;
	height:35px;
	vertical-align: middle;
	cursor:pointer;
}

.load {
	width:35px;
	position: absolute;
    right: 2%;
    top: 4%;
}


.load img, .controls button img{
	width:100%;
	height:auto;
}

.load:hover, .controls button:hover{
	opacity:1;
}

.ui-dialog {
	background-color: rgba(128,128,128,1.0);
	border: 2px solid rgba(0,0,0,1.0);
}
.ui-dialog .ui-dialog-titlebar{
	font-weight: bold;
	text-align: center;
}
.ui-dialog .ui-dialog-titlebar-close{
	position: absolute;
	right: .3em;
}

.advDialog{
	appearance: normal;
	/*-webkit-appearance:none;*/

	/*display: inline-block;*/
	background-color: rgba(128,128,128,1.0);
	/*border: 2px solid rgba(0,0,0,1.0);*/

	margin: 0px;
	padding:20px;
}
.no-close .ui-dialog-titlebar-close{
	display: none;
}




/*SENSORS*/

.sensors{
	position:relative;
	left:0;
	/*top:0;*/	
	display:none;
	float: left;
    left: 48%;
    padding: 1%;
    padding-top: 0px;
    width: 50%;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    position: absolute;
    margin-top: -1%;
}

.sensors .power{
	float:left;

}

.sensors .name{
	border: none;
    width: 60%;
    /*border-bottom: 1px dashed white;*/
    background: none;
    padding-bottom: 5px;
    margin-top: 2%;
    margin: 2% 6%;
    text-align: center;
}

input.name:hover{
	border-bottom: 1px dashed rgba(255,255,255,0.4);
}

input.name:focus{
	border-bottom: 1px dashed white;
}

.sensors ul{
	padding:0px;
}

.sensors .name{
	float:left;
}

.single-sensor{
	cursor:move;
	width:45%;
	height: 300px;
	float:left;
	margin-left:0%;
	background:rgba(0,0,0,0.7);
	padding:2%;
	margin-bottom:1%;
	margin-right:1%;
	background:rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	list-style-type: none;
	overflow: hidden;
}





.select-anim-1, .select-anim-2{
	float:left;
	width:50%;
}

.select-anim-1 .listAnims-1{
	background:rgba(61, 188, 255, 0.5);
	background:rgba(118, 61, 255, 0.2);
	width:100%;
	border: 2px rgba(118, 61, 255, 1) solid;
	border-radius: 25px 0px 0px 25px ;
	border-right: white 1px solid;
	padding-left:10px;
}


.select-anim-2 .listAnims-2{
	background:rgba(61, 188, 255, 0.5);
	background:rgba(118, 61, 255, 0.2);
	width:100%;
	border: 2px rgba(118, 61, 255, 1) solid;
	border-radius: 0px 25px 25px 0px ;
	border-left: white 1px solid;
	padding-right:10px;
	text-align: right;
    text-align-last: right;
}

.select-anim-1 .active, .select-anim-2 .active{
	background:rgba(61, 188, 255, 1);
	background:rgba(118, 61, 255, 1);

}

.sensor-range{
	/*float:left;*/
	/*width: 100%;*/
    /*padding: 2%;*/
    /*padding-top:0%;*/
}


.ui-widget-content{
	background:rgba(255,255,255,0);
	border:white 0px solid;
	border-radius: 100px;
}



/*.single-sensor:nth-child(2n+1){
	background:rgba(0,0,0,0.3);
}*/

.single-sensor:last-child{
	margin-bottom:100px;
}


.sensor-setting{
	width:100%;
	padding: 2% 0 2% 0;
	clear:both;
}



.tolerance-ui{
	position:relative;
	background:rgba(255,255,255,0.3);
	top:0px;
	height: 35px;
	border-radius: 60px;
	display:block;
	width:10%;
}

.tolerance{
	position: relative;
	border:none;
    /*border: 2px solid rgba(255,255,255,1);*/
    background: rgba(255,255,255,0.3);
    border-radius: 25px;
    padding: 7px;
    color:white;
    width: 15%;
}

.live-value{
	display:block;
	width:100%;
	float:left;
	color:rgba(0,255,153,1);
	padding:10% 0 1% 0;
	font-size: 32px;
	font-weight: 100;
	text-align: center;

}

.live-value-ui{
	display: block;
    float: left;
    z-index: 10;
    position: relative;
    left: 0%;
    top: 5%;
    margin-top: -15px;
    color: rgba(0,255,153,1);
    font-size: 22px;
    text-align: left;
    transition:left 1s linear;

}

/*slider*/
.slider-range{
	clear:both;
}

.ui-slider .ui-slider-handle {
    background: white;
    border-radius: 100px;
    top: -2.5em;
}


.addSensors{
	float:right;
	position:absolute;
	width:200px;
	right: 2%;
    top: 3%;
    opacity: 0.5;
    display:none;
    cursor:pointer;
}

.addSensors:focus, .addSensors:hover{
    opacity: 1;
}


.ui-widget-header{
	background: rgba(255,255,255,0.3);
}


.ui-state-active{
	background:rgba(0,255,153,1);
}


.minV{
	/*float:left;*/
	/*width:25%;*/
	font-size: 12px;
	color:white;
	font-weight: 100;
	position:relative;
	top:-58px;
}

.maxV{
	/*float:right;*/
	/*width:25%;*/
	font-size: 12px;
	color:white;
	font-weight: 100;
	text-align: right;
	position:relative;
	top:-70px;
}


.currentV{
	/*float:left;*/
	/*width:50%;*/
	position:relative;
	font-size: 18px;
	margin-top: -3%;
    margin-bottom: -2%;
	color:white;
	font-weight: 100;
	text-align: center
}



input.range-txt{
	-webkit-appearance: none;
	border:none;
	background:transparent;
	color:white;
	margin-bottom: 5px;
    width: 100%;

}

.motor-index{
	display: inline-block;
    border: none;
    /* border: 2px solid rgba(255,255,255,1); */
    background: rgba(255,255,255,0.3);
    border-radius: 25px;
    padding-left: 10px;
    font-size: 13px;
    height: 35px;
    color: white;
    width: 30%;
    margin-right: 1%;
}


.moreSensorSetting{
	-webkit-appearance: none;
    border: none;
    width: 35px;
    height: 35px;
    display: block;
    color: white;
    cursor: pointer;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
    background: transparent;
    opacity:0.6;
    margin-top: 8%;
}

.moreSensorSetting:hover{
    opacity:1;
}


.moreSensorSetting:hover img, button.advanced:hover img, .gear:hover img{
	-webkit-animation: rotating 5s linear infinite;
	  -moz-animation: rotating 5s linear infinite;
	  -ms-animation: rotating 5s linear infinite;
	  -o-animation: rotating 5s linear infinite;
	  animation: rotating 5s linear infinite;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

h3{
	font-weight: 100;
	margin-top: 5px;
}

.moreSensorSetting img{
	width: 20px;
    height: 20px;
}


.sensor-setting-more{
	position: relative;
    z-index: 10;
    top: -300px;
    background: rgba(0,0,0,0);
    height: 300px;
    /*padding-top: 30px;*/
    display: none;
    text-align: center;
    overflow:auto;
    color:white;
}


.sensor-setting-more .value-setting{
	display: inline-block;
    border: none;
    background: rgba(255,255,255,0.3);
    border-radius: 25px;
    padding-left: 10px;
    font-size: 13px;
    height: 35px;
    color: white;
    width: 30%;
    margin-right: 1%;
}

.sensor-setting-more .OSC-setting{
	display: inline-block;
    border: none;
    background: rgba(255,255,255,0.3);
    border-radius: 25px;
    padding-left: 10px;
    font-size: 13px;
    height: 35px;
    color: white;
    width: 30%;
    margin-top: 4%;
    margin-left: 4%;

}

.sensor-setting-more section{
	text-align: left;
	margin-top:5%;
	margin-left:0%;
	clear: both;
	padding: 1% 0 5% 0;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.sensor-setting-more section .power{
	float:none;
}

.sensor-setting-more .info{
	font-size: 10px;
	width:30%;
	color:rgba(255,255,255,0.5);
	display: inline-block;
	text-align: left;
}

/*Slider midi*/
/*switch*/
.settings .switch,  .sensor-setting-more .switch {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 24px;
  top: 10px;
  /*top: 25px;  didier*/
  /*left: 25px; didier*/
}

.settings .switch input, .sensor-setting-more .switch input {display:none;}

.settings .slider-midi, .sensor-setting-more .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
  /*border:2px solid white;*/
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.settings .slider-midi:before, .sensor-setting-more .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #FFF;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.settings .slider-midi:after, .sensor-setting-more .slider:after{
	content:"CC";
	font-size: 10px;
	position: absolute;
    width: 100%;
    text-align: left;
    top: 7px;
    margin-left: 25px;
    color:#FFF;
    -webkit-transition: 300ms ease-out;
  	transition: 300ms ease-out;
}

.settings input:checked + .slider-midi:after, .sensor-setting-more input:checked + .slider:after {
  color: #FFF;
}

.settings input:focus + .slider-midi, .sensor-setting-more input:focus + .slider {

}

.settings input:checked + .slider-midi:before, .sensor-setting-more input:checked + .slider:before {
  transform: translateX(50px);
  background-color: #290BFF;

}

.settings input:checked + .slider-midi:after, .sensor-setting-more input:checked + .slider:after{
	content:"Note";
    text-align: left;
    /*margin-left: -20px;*/
}

/*End slider midi*/


.sensor-setting-more .midi-setting{
	display: inline-block;
	width: 30%;
    margin-top: 4%;
    margin-left: 4%;
}

.sensor-setting-more .full{
	width: 60%;
}

h4{
	margin:1% 0 1% 0;
	padding:0;
	font-size: 12px;
	font-weight: 100;
	letter-spacing: 2px;
}

::-webkit-input-placeholder {
    color: white !important;
}

.sensor-setting-more button{
	margin:15% auto;
	-webkit-appearance: none;
	background:transparent;
	border-radius: 5px;
	display:block;
	height:35px;
	width:50%;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;
	border:2px solid #00FF99;
	color:#00FF99;
}



.blury{
	filter: blur(10px);
	opacity:0.3;
	-webkit-transition: 300ms ease-out;
}

.connect-settings{
	text-align: center;
	margin-top:4%;
}

/*MODALE*/

.modale{
	background:rgba(49, 52, 71, 0.9);
	border:white 1px solid;
	border-radius: 10px;
	z-index:3000;
	position:absolute;
	width:500px;
	height: 600px;
	padding:10px;
	color:white;
}

.close-modale{
	-webkit-appearance: none;
	border:0px;
	background:none;
	opacity: 0.6;
	width:20px;
	height:20px;
	vertical-align: middle;
	cursor:pointer;
	position: absolute;
    top: 5px;
    right: 5px;
}

.close-modale img{
	width:100%;
}


/*
.ui-widget-header.advDialog {
	background:#b9cd6d;
	border: 1px solid #b9cd6d;
	color: #FFFFFF;
	font-weight: bold;
}
*

/*
.advDialog.text {
	margin: 0;
	padding: 0;
	padding-bottom: 1.25em;
	text-align: right;
}
.advDialog.label {
	margin: 0;
	padding: 0;
	display: inline-block;
	font-size: 100%;
	padding-top: .1em;
	padding-right: .25em;
	width: 20em;
	text-align: right;
	float: right;
	color: red;
}
.advDialog.text input {
	margin: 0;
	padding: 0;
	display: block;
	font-size: 100%;
	float: left;
}
*/