body{
	padding:0px;
	margin:0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*background:#262937;*/
	background: -webkit-linear-gradient(bottom left, rgba(38,41,55,1) 0%, rgba(71,76,97,1) 100%) fixed;
	overflow:hidden;
}
/*
 *  scrolls
 */

::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);*/
	/*background-color: rgba(0,0,0,0);*/
	/*border: 2px solid rgba(0,0,0,0.4);*/

}

::-webkit-scrollbar
{
	width: 5px;
	/*background-color: rgba(0,0,0,0);*/
}

::-webkit-scrollbar-thumb
{
	background-color: rgba(255,255,255,0.05);
	border-radius: 20px;
	/*border: 2px solid #FFF;*/
}


/**/

.ui-tooltip {
	position:absolute;
	padding: 3px 10px;
	color: black;
	background-color: rgba(255,255,0,0.75);
	font: bold 12px "Helvetica Neue", Sans-Serif;
}


*:focus {outline:0;}



h2{
	font-size:20px;
	letter-spacing: 2px;
	color: #9FA4BC;
	font-weight: 100;
}

.wapper{
	position:absolute;
	width:100%;
	height:100%;
	min-width: 1280px;
	/*top:1%;*/
}

.btn-connexions{
	transform: rotate(-90deg);
    position: fixed;
    left: -49.3%;
    width: 100%;
    top: 50%;
	z-index: 2000;
	color: white;
    -webkit-appearance: none;
    border: 0px;
    background: #3D4158;
    cursor: pointer;
    /*border: 2px solid #FFF;*/
    border-radius: 3px;
    padding: 5px;
    display:none;
}



.ui-helper-hidden-accessible{
	background: black;
	color:yellow;
	position: fixed;
    bottom: 0%;
    width: 100%;
    opacity: 0.8;
    padding:1%;
}


/*PARTS*/

.motors{
	float:left;
	/*background:black;*/
	padding: 0% 0% 0% 2%;
	width:42%;
	margin-left: 0%;
	height:100%;
	overflow:auto;
}

.animations{
	z-index: 1;
    display: block;
    float: left;
    left: 48%;
    padding: 0px 1% 1%;
    width: 50%;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    position: absolute;
	margin-top: 0;
}

.sensors{
	position:relative;
	left:0;
	/*top:0;*/	
	display:none;
	float: left;
    left: 48%;
    padding: 1%;
    padding-top: 0px;
    width: 50%;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    position: absolute;
    margin-top: 0;
}

.head{
	height:80px;
}

/*GLOBAL ELEMENTS*/
.mask {
  -webkit-mask-image: url(../assets/mask.svg);

}

.tiny{
	width:10%;
	height:25px;
}

.large{
	width:100%;
}

.medium-75{
	width:75%;	
}

.medium{
	width:50%;
}

.small{
	width:30%;
}


.float-right{
	float:right;
	/*margin-right:10px;*/
}

.float-right::after{
	clear:both;
}

.float-left{
	float:left;
	/*margin-left:10px;*/
}

.text-left{
	text-align: left;
	display:inline-block;
	vertical-align: -webkit-baseline-middle;
}

.text-right{
	text-align: right;
	display:inline-block;
	vertical-align: -webkit-baseline-middle;
}
.text-center{
	text-align: center;
	display:inline-block;
}

.hide{
	display:none;
}

.show{
	display:block;
}

.clear{
	clear:both;
}

section{
	background: rgba(0,0,0,0.2);
    padding: 5%;
    border-radius: 10px;
}

textarea{
	border-radius: 5px;
	color:white;
	border: 1px solid white;
	background:rgba(255,255,255,0.2);
	padding: 5%;
    width: 88%;
}



select{
	color:white;
	-webkit-appearance: none;
	display:inline-block;
	height:35px;
	border-radius: 5px;
	border:0px;
	padding-left:2%;
	/*border-bottom:2px solid white;*/
	

	background: url(../assets/select-arrow.svg) no-repeat 95%;
	background-size: 5%;

	background-color:rgba(0,0,0,0.1);
	cursor: pointer;
	vertical-align: -webkit-baseline-middle;
	transition:background 800ms ease-out;

}

select.small{
	background: url(../assets/select-arrow.svg) no-repeat 90%;
	background-size: 10%;
}

select:hover{
	background-color:rgba(0,0,0,0.3);
	transition:background 300ms ease-in;
}

select.tiny{
	height:20px;

}

button{
	/*margin-top:10px;*/
	-webkit-appearance: none;
	background:none;
	display:block;
	height:35px;
	text-transform: uppercase;
	color:white;
	border-radius: 5px;
	cursor: pointer;
	vertical-align: middle;
	display:inline-block;
	cursor: pointer;
	border:2px solid rgba(255, 255, 255, 1);
	opacity:0.9;
    transition:opacity 800ms ease-out;

}

button:hover{
	opacity:1;
	transition:opacity 300ms ease-in;

}

/*REC BUTTONS*/
.start-rec{
	margin-top: -3px;
	text-transform: uppercase;
	color:#FF1862;
	border:2px solid rgba(255, 24, 98, 0);
	transition:all 300ms ease-out;
	-webkit-animation: blinker infinite cubic-bezier(1.0,0,0,1.0) 0s; 
}

.start-rec:hover{
	border:2px solid rgba(255, 24, 98, 0.2);
}

.start-rec:after{
	content:"";
	width:12px;
	height:12px;
	background:#FF1862;
	border-radius:20px;
	display:inline-block;
	margin-left:15px;
	margin-right:5px;
	vertical-align: text-bottom;

}

@-webkit-keyframes blinker {  
  from { opacity: 1.0; }
  to { opacity: 0.4; }
}


.tab {	
	display:inline;
	padding:15px 0% 15px 0;
	margin-left:1%;
	border: 1px solid #9FA4BC;
	border-radius:5px 5px 0px 0px;
	border-bottom:0px;
}


/*GEAR BUTTON*/


.gear{
	display:inline-block;
	color:white;
	-webkit-appearance: none;
	border:0px;
	background:none;
	opacity: 0.6;
	width:32px;
	height:32px;
	vertical-align: middle;
	cursor:pointer;
	/*overflow:auto;*/
}

.gear img{
	width:100%;
	height:auto;
}

.gear:hover{
	opacity:1;
}

.gear:hover img{
	-webkit-animation: rotating 5s linear infinite;
	  -moz-animation: rotating 5s linear infinite;
	  -ms-animation: rotating 5s linear infinite;
	  -o-animation: rotating 5s linear infinite;
	  animation: rotating 5s linear infinite;
}

input[type="checkbox"]{
	-webkit-appearance: none;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding: 2px 0px 0px 1px;
    background:rgba(255,255,255,0.2);
    margin-top: 0px;
    margin-right: 10px;
    width:35px;
	height:35px;
	border-radius:40px;
	color:white;
    transition:background 300ms ease-in;
    cursor:pointer;
}

input[type="checkbox"]:hover{
	background:rgba(255,255,255,0.3);
    transition:background 300ms ease-in;
}

input[type="checkbox"]:checked{
	background:#00FF99;
}


meter{
	/*-webkit-appearance:none;*/
	height:20px;
	/*vertical-align: -webkit-baseline-middle;*/
	/*width:25%;*/
}

meter::-webkit-meter-bar {
  background: none; /* Requi#FF1862 to get rid of the default background property */
  background-color: transparent;

  border:2px solid white;
  border-radius:10px;
}

meter::-webkit-meter-optimum-value{
	background:rgba(255, 255, 255, 0.3);
	border-radius:10px;
}

meter.active::-webkit-meter-optimum-value{
	background:rgba(0,255,153,1);
	border-radius:10px;
}

meter.active::-webkit-meter-bar{
	border:2px solid rgba(0,255,153,0.5);
	border-radius:10px;
}


/*CHECKBOX ON/OFF*/
/*SMALL*/
input[type="checkbox"].small{
	border:none;
	color:white;
	width:20px;
	height:20px;
	cursor:pointer;
	vertical-align: -webkit-baseline-middle;
	-webkit-transition: 300ms ease-out;
  	transition: 300ms ease-out;
}

input[type="checkbox"].small:checked{
	background:#00FF99;
}

/*INPUT TEXT*/
input[type="text"] {
	border:none;
	border-bottom:1px dashed rgba(255,255,255,0.05);
	background:none;
	padding-bottom:5px;
	margin-bottom:10px;
	font-size: 16px;
	color:white;
	display:inline-block;
	vertical-align: -webkit-baseline-middle;
}

input[type="text"]:hover{
	border-bottom: 1px dashed rgba(255,255,255,0.4);
}

input[type="text"]:focus{
	border-bottom: 1px dashed white;
}

/*INPUT NUMBER*/

input[type="number"]{
	display: inline-block;
    border: none;
    /* border: 2px solid rgba(255,255,255,1); */
    background: rgba(255,255,255,0.05);
    border-radius: 25px;
    padding-left: 10px;
    font-size: 13px;
    height: 35px;
    color: white;
    margin-right: 1%;
    vertical-align: -webkit-baseline-middle;
    transition:background 800ms ease-out;
}

input[type="number"]:hover, input[type="number"]:focus{
	transition:background 600ms ease-in;
    background: rgba(255,255,255,0.3);
}

input[type="number"]:focus{
	/*transform: scale(1.05);*/
	/*transition:transform 100ms ease-in;*/
}

/*INPUT NUMBER SMALL*/
input[type="number"].small{
    font-size: 10px;
    height: 20px;
}

input[type="number"].tiny{
    font-size: 10px;
    height: 20px;
}



/*STATUS*/
.connected {
	background:#00FF99;
	border:none;
}

.error{
	background:#FF7F52!important;
	border:none;
}

.valid{
	border:2px solid #00FF99;
	color:#00FF99;
}






/*CONNEXION*/

.connexions{
	float:left;
	background: #232532;
	background: -webkit-linear-gradient(-45deg, rgba(35,37,50,1) 0%,rgba(35,37,50,1) 14%,rgba(35,37,50,0.65) 100%);
	width:4%;
	height:100%;
	z-index:1000; 
	overflow: scroll-y;
}

.connexions input.small{
	margin:15% 0 0 30%;
	display:block;
}

.connexions h2{
    transform: rotate(-90deg) translate(0px, -125%);
    position: absolute;
    bottom: 5%;
    z-index: -1;
}

.connexions .plug{
	color:white;
    display: block;
    height:10%;
    min-height:80px;
    border-top:1px solid #2F3242;
}

.connexions .plug .content{
	visibility: hidden;
	background:rgba(47, 49, 67, 0.95);
	position: absolute;
    left: 4%;
    border:1px solid #FFF;
    border-radius: 0px 10px 10px 0px;
    border-left:0px;
    padding: 1%;
    margin-top: -1px;
    padding-top: 0%;
    width: 35%;
    max-height:300px;
    overflow:auto;
    box-shadow: 10px 0px 15px rgba(0,0,0,0.2);
    z-index: 10;
    opacity:0;
	transition : opacity 200ms ease-in;
}

.connexions .plug .content input.small{
	margin: 0px;
	display:inline-block;
	vertical-align: top;
}

.connexions .plug:hover{
	border-top:1px solid #FFF;
	background:rgba(52, 55, 75, 0.70);
}
.connexions .plug:hover .content{
	visibility:visible;
	opacity:1;
	transition : opacity 100ms ease-in;
}


.connexions p{
	font-size: 8pt;
    text-align: center;
    margin: 0;
    height: 0px;
    transform: rotate(-90deg) translate(-70%, -25px);
}







button.disconnected {
	content:"assets/power_icon.svg";
	/*background:#404040;*/
	border:2px solid white;
}
button:disabled {
	content:"WAIT";
	/*background:#404040;*/
	border:2px solid white;
}



/*MOTORS*/

input[type="checkbox"].btnGlobalMotor, input[type="checkbox"].btnGlobalAnim, input[type="checkbox"].btnGlobalSensors{
	/*border: 1px solid #FF1862;*/
	color:#FFF;
    width: 70px;
	text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    font-size: 8px;
    /*font-weight: 700;*/
    /*background:none;*/
}

input[type="checkbox"].btnGlobalMotor:hover, input[type="checkbox"].btnGlobalAnim:hover, input[type="checkbox"].btnGlobalSensors:hover{
	background:#FF1862;
}

input:checked.btnGlobalMotor:hover, input:checked.btnGlobalAnim:hover, input:checked.btnGlobalSensors:hover{
	background:#FFF;
}

input[type="checkbox"].btnGlobalMotor:before, input[type="checkbox"].btnGlobalAnim:before, input[type="checkbox"].btnGlobalSensors:before{
	content:"STOP ALL";
}

input:checked.btnGlobalMotor, input:checked.btnGlobalAnim, input:checked.btnGlobalSensors{
	border: 0px solid #FF1862;
}


input:checked.btnGlobalMotor:before, input:checked.btnGlobalAnim:before, input:checked.btnGlobalSensors:before{
	content:"ACTIVE ALL";
	color: #333647;
	border: 0px solid #FF1862;

}


.motors h2{
	/*width:49%;*/
	display:inline-block;
}
.motors-btn-group{
	width: 43%;
    z-index: 9;
    padding: 0px 0% 0% 1%;
    margin: 0% -2% 0% -2%;
    display: inline-block;
    text-align: left;
    position: fixed;
    min-width:550px;
    background: -webkit-linear-gradient(bottom left, rgba(38,41,55,0.9) 0%, rgba(71,76,97,0.9) 100%) fixed;
}

button.advanced, .tools{
	margin-top:10px;
}


/*input.power, input.osc-btn, input.midi-btn, input.CM9-btn{
	border:white 2px solid;
	background:transparent;
	color:white;
}*/

input.power:before, input.osc-btn:before, input.midi-btn:before, input.CM9-btn:before{
	content:"OFF";
	content:url('../assets/power_icon.svg');
	width:70%;
	height:70%;
	display: inline-block;
	padding: 15%;
	text-align: left;
}

input.osc-btn:before{
	content:"OSC";
	text-align: left;
	padding: 9px 7px 0px 4px;

}

input.CM9-btn:before{
	content:"CM9";
	text-align: left;
	padding: 9px 7px 0px 4px;

}

input.midi-btn:before{
	content:"midi";
	text-align: left;
	padding: 9px 7px 0px 4px;
}


/*input.power, input.rec, input.motor-none, input.motor-angle, input.motor-speed, input.osc-btn, input.midi-btn, input.CM9-btn, button.reset{
	-webkit-appearance: none;
	width:35px;
	height:35px;
	display:inline-block;
	border-radius:40px;
	margin-right:4px;
	font-weight: 700;
	color:white;
	cursor:pointer;
	-webkit-transition: 300ms ease-out;
  	transition: 300ms ease-out;
}*/


/*input:checked.power, input:checked.osc-btn, input:checked.midi-btn, input:checked.CM9-btn{
	background:#00FF99;
	border:2px #00FF99 solid;
}*/

input:checked.power:before{
	content:"ON";
	content:url('../assets/power_icon.svg');
	width:70%;
	height:70%;
	display: block;
	padding: 15%;
	text-align: center;
}

button.reset{
	width: 55px;
    position: relative;
    left: 52%;
    top: -47px;
}

input.rec{
	padding: 10px 0px 0px 0px;
}

input.rec:before{
	content:"REC";
	display: block;
    text-align: center;
}

input:checked.rec{
	background:#FF1862;
}

input:checked.rec:before{
	content:"REC";
	display: block;
    text-align: center;
}

/*/////////////*/

.allMotors{
	margin-top:82px;
}

.single-motor{
	color:white;
	/*border-bottom:dashed white 2px;*/
	/*border-radius: 25px;*/
	padding:3% 1% 2% 2%;
	margin:1% 0 0% -3%;
	clear: both;
	width: 99%;
	height: 85px;
    float: inherit;
    background:rgba(255, 255, 255, 0.2);
	border-radius: 10px;
}

.single-motor:last-child{
	margin-bottom: 10%;
}


.single-motor:nth-child(2n+1){
	background:rgba(255,255,255,0.1);
}


.single-motor .left-col{
	float:left;
	width:28.6%;
}


.identity{
	font-size:32pt;
    margin-left: 2%;
	font-weight: 100;
}

.identity .set-value{
	display:inline-block;
}

.ico-thermo{
	width:16px;
	float:right;
	margin-right:0%;
	margin-top:6%;
}


.thermo{
	margin-bottom: 10px;
	color:#99FF00;
	font-size: 12px;
	float:right;
	margin-top:6%;
}


.single-motor .circle{
	float:left;
	width:25%;
	margin-left:7%;
}


/*SVG*/

.circle .rotAngle{
	width:75%;
	max-width: 90px;
	height:80px;
	overflow:visible;
	/*display:none;*/
}

.circle .rotSpeed{
	/*display:none;*/
	width:75%;
	max-width: 90px;
	height:80px;
	overflow:visible;
}

/*
.circle svg circle{
	fill:none!important;
	stroke:none!important;

}
*/

.circle svg path{
	fill:rgba(255, 255, 255, 0.2);
	stroke:white;
	stroke-width:0px;
}


.circle svg line{
	stroke:rgb(255, 255, 255)!important;
}

.circle svg line:last-child{
	stroke:rgb(0, 0, 0)!important;
}

.circle text{
	fill:white!important;
	-webkit-transform: translate(75px, -20px);
  	-ms-transform: translate(75px, -20px);
  	transform: translate(75px, -20px);
  	font-size: 35px;
    font-weight: 100;
    text-anchor: inherit;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
}

/*MOTORS ADVANCED*/

.motors-settings{
	float: left;
    overflow: auto;
    padding: 1%;
    padding-left: 3%;
    padding-top: 0px;
    margin-top:80px;
    display: none;
}



.motors-settings .single-motor:last-child{
	margin-bottom:15%;
}

.motors-settings .left-col{
	width:17%;
}

.motors-settings .identity{
	float:left;
	font-size: 16px;
	width:100%;
}

.motors-settings label{
	font-weight: 100;
	letter-spacing: 3px;
	vertical-align: -webkit-baseline-middle;
}


.motors-settings .advanced{
	width:60%;
	float:left;
	margin-bottom: 2%;
}


.motors-settings ul{
	list-style: none;
	padding: 0%;
	margin-top: 0%;
	margin-left:5%;
}

.motors-settings li{
	display: inline-block;
    width: 24%;
    padding-bottom: 0%;
	float:left;
}

.motors-settings li input[type="number"]{
	width:70%;
}


.motors-settings li:nth-child(n){
	color:#1CE3FF;
}

.motors-settings li:nth-child(n+3){
	color:#FEC500;
}


.motors-settings li label{
	font-size: 7pt;
    text-align: left;
    margin-left: 4%;
    margin-top: 3%;
    font-weight: 300;
    letter-spacing: 1px;
    width: 100%;
    display: block;
}


.motors-settings .properties{
	float: right;
    margin-right: 2%;
}




/*.motors-settings .OSC-setting{
	display: inline-block;
    border: none;
    background: rgba(255,255,255,0.3);
    border-radius: 25px;
    padding-left: 10px;
    font-size: 13px;
    height: 35px;
    color: white;
    width: 42%;
    margin-right:6%;
    margin-top: 4%;
    margin-bottom: 2%;
}*/



.motors-settings .midi-setting{
	display: inline-block;
	width: 37%;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;

}



/*left side*/

.left-side h2{
	display:inline-block;
	cursor:pointer;
	margin-right:1%;
	margin-left: 1%;
	margin-top: 20px;
}

#sens{
	/*opacity:0.3;*/
}

/*Animation*/

.animations ul{
	padding:0;
	margin:0;
	list-style: none;
}


button.load{
	float:right;
}

.single-anim{
	cursor:move;
	width:97%;
	margin-left:0%;
	background:rgba(0,0,0,0.7);
	padding:2%;
	margin-bottom:1%;
	background:rgba(255, 255, 255, 0.1);
	border-radius: 10px;
}

.single-anim:nth-child(2n+1){
	background:rgba(0,0,0,0.3);
}

.single-anim:last-child{
	margin-bottom:100px;
}

.single-anim meter{
	width:20%;
}

button.close{
	-webkit-appearance: none;
	border:0px;
	background:none;
	opacity: 0.6;
	width:20px;
	height:20px;
	margin-top:-7px;
	margin-right:-7px;
	vertical-align: middle;
	cursor:pointer;
	float:right;
}

button.close img{
	width:100%;
	height:auto;
}

button.close:hover{
	opacity:1;
}




.shorcut {
	border:2px solid white;
	background:none;
	vertical-align: middle;
	text-align: center;
	border-radius:5px;
	padding:5px;
	font-size: 16px;
	color:white;
	width:3%;
	display:inline-block;
}

.number-for-motor{
	border: 2px solid black;
    background: none;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    padding: 7px;
    font-size: 16px;
    color: black;
    width: 20%;
    display: block;
}

/*Didier*/
.num_rotary{
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
	width: 28%;
    display: block;
    border: none;
    background: rgba(255,255,255,0.3);
    border-radius: 25px;
    padding-left: 10px;
    margin-top: 2%;
    height: 35px;
    color: white;
}



input.motor-none:before{
	content:"-";
	display: block;
	padding: 9px 2px 0px 0px;
	text-align: center;
}
input.motor-none{
	background:transparent;
	border:white 2px solid;
}
/*! no check !*/


input:checked.motor-angle{
	background:#1CE3FF;
	border:#1CE3FF 2px solid;
}

input.motor-angle:before{
	content:"J";
	display: block;
    padding: 9px 2px 0px 0px;
    text-align: center;
}

input.motor-angle{
	background:transparent;
	border:white 2px solid;
}

input:checked.motor-speed{
	background:#FEC500;
	border:#FEC500 2px solid;
}

input.motor-speed:before{
	content:"W";
	display: block;
    padding: 9px 2px 0px 0px;
    text-align: center;
}

input.motor-speed{
	background:transparent;
	border:white 2px solid;
}




.controls{
	display:inline-block;
}

.load, .controls button{
	-webkit-appearance: none;
	border:0px;
	background:none;
	opacity: 0.6;
	width:35px;
	height:35px;
	vertical-align: middle;
	cursor:pointer;
}

.load {
	width:35px;
	position: absolute;
    right: 2%;
    top: 4%;
}


.load img, .controls button img{
	width:100%;
	height:auto;
}

.load:hover, .controls button:hover{
	opacity:1;
}

.ui-dialog {
	background-color: rgba(128,128,128,1.0);
	border: 2px solid rgba(0,0,0,1.0);
}
.ui-dialog .ui-dialog-titlebar{
	font-weight: bold;
	text-align: center;
}
.ui-dialog .ui-dialog-titlebar-close{
	position: absolute;
	right: .3em;
}

.advDialog{
	appearance: normal;
	/*-webkit-appearance:none;*/

	/*display: inline-block;*/
	background-color: rgba(128,128,128,1.0);
	/*border: 2px solid rgba(0,0,0,1.0);*/

	margin: 0px;
	padding:20px;
}
.no-close .ui-dialog-titlebar-close{
	display: none;
}




/*SENSORS*/

button.sensorsBTN, button.animBTN{
	margin-right: 1%;
    margin-top: 2%;
    font-size: 9px;
}

button.sensorsBTN img, button.animBTN img{
	height:10px;
	vertical-align: bottom;
}


.single-sensor{
	cursor:move;
	width:96%;
	height: 80px;
	float:left;
	margin-left:0%;
	padding:2%;
	margin-bottom:3%;
	/*margin-top:-2%;*/
	/*margin-right:1%;*/
	background:rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	list-style-type: none;
	overflow: hidden;
}


.single-sensor.activ{
	background:rgba(255, 255, 255, 0.1);
}



.single-sensor input[type="text"]{
	margin: 1% 0%;
    width: 40%;
    text-align: left;
}

.single-sensor .close{
	margin-top: 0px;
    margin-right: 0px;
}


.sensors ul{
	padding:0px;
	width:45%;
	float: left;
	margin-top: 0.5%;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 90%;
	position:relative;
}


.sensor-setting{
	width: 100%;
    border-top: rgba(0,255,153,0.5) 1px solid;
    position: relative;
    top: 85%;
    height:100px;
}

.sensor-setting-more{
	width:49%;
	float: left;
	padding:2%;
	max-height: 85%;
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: 0.5%;
	margin-left: 1%;
	background:rgba(255, 255, 255, 0.1);
	border-radius: 10px;
}

.sensor-setting-more ul{
	width: 100%;
	margin-top: 0%;
}

.sensor-setting-more ul li{
	display: block;
}



.live-value-ui{
	display: block;
    float: left;
    width: 100%;
    position: relative;
    left: 0%;
    top: -93px;
    color: rgba(0,255,153,1);
    font-size: 50px;
    text-align: left;
}


.live-view{
	border-top:1px solid #717481;	
	border-bottom:1px solid #717481;
	height:85px;
	width: 104%;
	margin-left:-4%;
	margin-top:10px;
	margin-bottom:10px;
	padding: 2%;
}


.live-view .live-value-ui{
	top:-5px;
}



.select-anim-1, .select-anim-2{
	float:left;
	width:50%;
}

.select-anim-1 .listAnims-1{
	background:rgba(61, 188, 255, 0.5);
	background:rgba(61, 30, 255, 0.2);
	width:100%;
	border: 2px rgba(61, 30, 255, 1) solid;
	border-radius: 25px 0px 0px 25px ;
	border-right: white 1px solid;
	padding-left:10px;
}


.select-anim-2 .listAnims-2{
	background:rgba(61, 188, 255, 0.5);
	background:rgba(61, 30, 255, 0.2);
	width:100%;
	border: 2px rgba(61, 30, 255, 1) solid;
	border-radius: 0px 25px 25px 0px ;
	border-left: white 1px solid;
	padding-right:10px;
	text-align: right;
    text-align-last: right;
}

.select-anim-1 .active, .select-anim-2 .active{
	background:rgba(61, 188, 255, 1);
	background:rgba(61, 30, 255, 1.00);

}


.ui-widget-content{
	background:rgba(255,255,255,0);
	border:white 0px solid;
	border-radius: 100px;
}



/*.single-sensor:nth-child(2n+1){
	background:rgba(0,0,0,0.3);
}*/

.single-sensor:last-child{
	margin-bottom:100px;
}





.tolerance-ui{
	position:relative;
	background:rgba(255,255,255,0.3);
	top:0px;
	height: 35px;
	border-radius: 60px;
	display:block;
	width:10%;
}

.tolerance{
	position: relative;
	border:none;
    /*border: 2px solid rgba(255,255,255,1);*/
    background: rgba(255,255,255,0.3);
    border-radius: 25px;
    color:white;
    width: 15%;
    margin-bottom: 5%;
}

.live-value{
	display:block;
	width:120%;
	float:left;
	color:rgba(0,255,153,1);
	/*padding:10% 0 1% 0;*/
	font-size: 32px;
	font-weight: 100;
	text-align: center;

}





/*.addSensors{
	float:right;
	position:absolute;
	width:200px;
	right: 2%;
    top: 3%;
    opacity: 0.5;
    display:none;
    cursor:pointer;
}

.addSensors:focus, .addSensors:hover{
    opacity: 1;
}


.ui-widget-header{
	background: rgba(255,255,255,0.3);
}*/


.ui-state-active{
	background:rgba(0,255,153,1);
}


.minV{
	/*float:left;*/
	/*width:25%;*/
	font-size: 12px;
	color:white;
	font-weight: 100;
	position:relative;
	top:-58px;
}

.maxV{
	/*float:right;*/
	/*width:25%;*/
	font-size: 12px;
	color:white;
	font-weight: 100;
	text-align: right;
	position:relative;
	top:-70px;
}


.currentV{
	/*float:left;*/
	/*width:50%;*/
	position:relative;
	font-size: 18px;
	margin-top: -3%;
    margin-bottom: -2%;
	color:white;
	font-weight: 100;
	text-align: center
}



input.range-txt{
	-webkit-appearance: none;
	border:none;
	background:transparent;
	color:white;
	margin-bottom: 5px;
    width: 100%;

}

.motor-index{
	display: block;
    font-size: 10px;
    color: black;
    font-size: 108px;
    font-weight: 700;
    position: relative;
    top: -10px;
    opacity: 0.05;
    left: 70%;
    height: 0px;
    width: 0px;
}

.midi-blinker{
	color:#3D1EFF;
	-webkit-animation: blinker infinite cubic-bezier(1.0,0,0,1.0) 300ms;
	position:relative;
	left: -3px;
    top: -20px;
    height: 0px;
    width: 0px;
    font-size: 30px;
    cursor:pointer;
}




.moreSensorSetting{
	-webkit-appearance: none;
    border: none;
    width: 35px;
    height: 35px;
    color: white;
    cursor: pointer;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
    background: transparent;
    opacity:0.6;
}

.moreSensorSetting:hover{
    opacity:1;
}


.moreSensorSetting:hover img, button.advanced:hover img, .gear:hover img{
	-webkit-animation: rotating 5s linear infinite;
	  -moz-animation: rotating 5s linear infinite;
	  -ms-animation: rotating 5s linear infinite;
	  -o-animation: rotating 5s linear infinite;
	  animation: rotating 5s linear infinite;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

h3{
	font-weight: 100;
	margin-top: 5px;
}

.moreSensorSetting img{
	width: 20px;
    height: 20px;
}




.single-sensor h3{
	display: inline-block;
	float: left;
	width: 47%;
    margin: 3% 0 0 2%;
    font-size: 13px;
    letter-spacing: 2px;
}

.sensor-setting-more select, .sensor-setting-more .valid{
	/*margin-top:10px;*/
}


#sortable-sens-output li{
	cursor: move;
}

#sortable-sens-output section{
	background:rgba(255, 255, 255, 0.1);
}



.sensor-setting-more .OSC-setting{
	display: inline-block;
    border: none;
    background: rgba(255,255,255,0.3);
    border-radius: 25px;
    padding-left: 10px;
    font-size: 13px;
    height: 35px;
    color: white;
    width: 30%;
    margin-top: 4%;
    margin-left: 4%;

}

.sensor-setting-more section{
    display: block;
    min-height: 28px;
    text-align: left;
    width: 96%;
    margin: 2% 0% 0% 0%;
    padding: 2%;
}


.sensor-setting-more section.hight{
    height: 80px;
}

.sensor-setting-more section.animation{
    height: 250px;
}

.sensor-setting-more section input.cmdOnOff{
	float:left;
	margin-top: 1%;
}

.sensor-setting-more section h4{
	margin-top:3%;
	/*float:left;*/
	display:flex;
	/*width:70px;*/
}

/*.sensor-setting-more */.info{
	font-size: 10px;
	color:rgba(255,255,255,0.5);
	/*width: 80%;*/
    display: inline-block;
}

.sensor-setting-more .midi select {
	margin:0px;
}


/*End slider midi*/


/*.sensor-setting-more .midi-setting{
	display: inline-block;
	width: 30%;
    margin-top: 4%;
    margin-left: 4%;
}*/

.sensor-setting-more .full{
	width: 60%;
}

h4{
	margin:1% 0 1% 0;
	padding:0;
	font-size: 12px;
	font-weight: 100;
	letter-spacing: 2px;
	color:white;
}

::-webkit-input-placeholder {
    color: white !important;
}




.blury{
	filter: blur(10px);
	opacity:0.3;
	-webkit-transition: 300ms ease-out;
}

/*MODALE*/

.modale{
	background:rgba(49, 52, 71, 0.95);
	/*border:white 1px solid;*/
	box-shadow: 0px 0px 50px 20px rgba(0,0,0,0.3);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 10px;
	z-index:3000;
	position:absolute;
	width:500px;
	/*height: 600px;*/
	padding:10px;
	padding-top: 20px;
	overflow:auto;
	color:white;
}

.close-modale{
	-webkit-appearance: none;
	border:0px;
	background:none;
	opacity: 0.6;
	width:20px;
	height:20px;
	vertical-align: middle;
	cursor:pointer;
	position: absolute;
    margin-top: -1%;
    margin-left: 92%;
}

.close-modale img{
	width:100%;
}


.context-box{
	position:fixed;
	width:160px;
	height:90px;
	margin-left: -150px;
	border-radius: 15px 0px 15px 15px;
	background: rgba(255,255,255,0.7);
	z-index: 10000;
}

.context-box span{
	width:100%;
	height:25px;
	padding: 10px 0px 10px 0px;
	border-radius: 0px 0px 15px 15px;
	display: block;
	font-size: 18px;
	font-weight: 300;
	color:#3B3E49;
	text-align: center;
	cursor: pointer;
	transition: background 200ms ease-out;
}

#sortable-sens-output .selected{
	background: rgba(255,255,255,0.3);
}

.context-box span:hover{
	background: rgba(255,255,255,0.8);
}

.context-box span:first-child{
	border-radius: 15px 0px 0px 0px;
	border-bottom:1px solid #3B3E49;
	opacity: 0.2;
}

.context-box span:first-child:hover{
	border-radius: 15px 0px 0px 0px;

}
